{% extends "Base/base.html" %}

{% block Contenido %}
<div class="col-md-8 col-md-offset-2 tex">
	<div class="col-md-8">
</div>
	<div class="col-md-7 col-sm-offset-0 col-sm-6 col-xs-offset-1 col-xs-10">
		<div class="contact-form">
			<form class="form-group" id="form-group" role="form" method="POST" nctype="multipart/form-data">
                <label>Seleccione la Partida de Diario:</label>
				<div class="col-md-12 text-center">
					<button type="submit" id="boton" class="btn btn-primary">Guardar</button>
				</div>

</div>
			</form>
		</div>
	</div>
</div>

{% endblock Contenido %}